<h1>User Roles Dashboard</h1>

<div class= "row">
  <div class= "col">
    <%= link_to "Create User", new_user_role_path %>
    <a href=""> Search Button</a> 
  
  </div>
  <div class= "col"></div>
  <div class= "col"> </div>
</div>


  <% @users.each do |user|%>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= user.name %> Details</h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= user.email %></h6>
      <h6 class="card-subtitle mb-2 text-muted"><%= user.user_type %></h6>

      <a href="#" class="card-link">Edit User</a>
      <a href="#" class="card-link">Delete User</a>
    </div>
  </div>
  <% end %>
